*{
    margin: 0;
    padding: 0;
}

.parent{

    font-size: large;
    
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    background-image: url("assets/login-back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;


}

form{
    padding-left: 40px;
    padding-right: 40px;
    width: 400px;
    background-color: white;
    border-radius: 20px;
}

.signup-link{
    text-decoration: none;
    color: #2e6fac;
    
}
.forgot-pass{
    padding-left: 0%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    
}

.frgt{
    text-decoration: none;
    color: #2e6fac;
}

.remember{
    display: flex;
    align-items: center;
    gap: 4px;
}
.btn-login{
    
    width: 100%;
    padding: 14px;
    background-color: #154775;
    color: white;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
}

